<script>
$.getScript("/vendor/langtablescript.js");

</script>

<table id="languagesettingtable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                   <th class="align-center">Language</th>
                   <th class="align-center">Spoken Skill Level</th>
                   <th class="align-center">Written Skill Level</th>
                   <th class="align-center"></th>
                </tr>
              </thead>
              <tbody >
                  <% @alllanguages.each do |i| %>  <!--From Skill Summary Class -->
                  <!-- If flag is set to delete, break. and find next record -->
                  <% if @alllanguages.get(i).skr_status != 0 %>
                 
                  <tr>
                     <td><%= @lmaster.get(i.skr_lang_id).language%> </a> </td>
                     

                      <div class="hidden-sm hidden-xs action-buttons">

                          <!-- <a id="skilldel" class="red" href="/deleteskill?id=<%= @allskills.get(i).id %>"> -->
                          <a onclick="dellanguage(this, <%=i.id%>)" class="red" href="javascript:void(0)"> <i class="fa fa-trash">DELETE</i></a>
                             
                          </a>

                      </div>
                     </td>
                  </tr>

                 <% end %>
                  <% end %>
              </tbody>
            </table>