                    <table class="table table-striped table-hover margin-0px airtable">
                      <thead>
                        <tr>
                          <th >Match Rank</th>
                          <th >Job Seeker </th>
                          <th >Match Score</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @top5matches.each do |i| %>
                        <tr>
                          <td><h4 class="text-center"><span class="num"><%= i.skrrank %></span></h4></td> 
                          <td><h4 class="text-center"> <%= @user.get(i.skrid).firstname %></h4></td> 
                          <td><h4 class="text-center"> <%= i.score %></h4></td>
                        </tr>
                        <% end %>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th >Match Rank</th>
                          <th >Job Seeker </th>
                          <th >Match Score</th>
                        </tr>
                      </tfoot>
                    </table>