

		

	<div id="primary" class="content-area">
		<div id="content" class="homepage-content" role="main">
			<section id="jobify_widget_slider_hero-3" class="homepage-widget jobify_widget_slider_hero">
				<div id="soliloquy-container-1668" class="soliloquy-container soliloquy-transition-fade soliloquy-fade  soliloquy-theme-base" style="max-width:3000px;max-height:540px;margin:0 auto 0px;">
					<ul id="soliloquy-1668" class="soliloquy-slider soliloquy-slides soliloquy-wrap soliloquy-clear">
						<li class="soliloquy-item soliloquy-item-1 soliloquy-image-slide" draggable="false" style="list-style:none"><img id="soliloquy-image-1682" class="soliloquy-image soliloquy-image-1" src="/main/wp-content/uploads/sites/16/2013/07/slide-one-2x.jpg" alt="Job Searching Just Got Easy" />
							<div class="soliloquy-caption">
								<div class="soliloquy-caption-inside"><a href="#">
									<h2 class="soliloquy-caption-title">Job Searching Just Got Easy</h2><p>Dropbox uses Jobify to find candidates across three continents—without breaking the bank.</p>
									<p><a href="job/product-designer/index.html" class="button">Upload Your Resume to Start</a></p></a>
								</div>
							</div>
						</li>
						<li class="soliloquy-item soliloquy-item-2 soliloquy-image-slide" draggable="false" style="list-style:none"><img id="soliloquy-image-2319" class="soliloquy-image soliloquy-preload soliloquy-image-2" src="wp-content/plugins/soliloquy/assets/css/images/holder.gif" data-soliloquy-src="http://demo.astoundify.com/jobify-darker/wp-content/uploads/sites/16/2013/07/slide-one-2x32.jpg" alt="Pricing Thats Affordable" />
						<div class="soliloquy-caption">
							<div class="soliloquy-caption-inside">
								<a href="#"><h2 class="soliloquy-caption-title">Pricing Thats Affordable</h2><p>Our pricing is affordable and your guaranteed to get results from your job posting</p>
								<p><a href="plans-pricing/index.html" class="button">Learn More</a></p></a>
							</div>
						</div>
						</li>
					</ul>
				</div>
				<noscript><style type="text/css">#soliloquy-container-1668{opacity:1}</style></noscript>
			</section>




		<section id="jobify_widget_video-2" class="homepage-widget jobify_widget_video">
			<div class="container">
				<div class="video-description">
					<h3 class="homepage-widget-title">How It All Works</h3>
						<p class="homepage-widget-description"><p>The expression day job is often used for a job one works in to make ends meet while performing low-paying (or non-paying) work in their preferred vocation. Archetypical examples of this are the woman who works as a waitress (her day job) while she tries to become an actress, and the professional athlete who works as a laborer in the off season because he is currently only able to make the roster of a semi-professional team.</p>
						<p>While many people do hold a full-time occupation, "day job" specifically refers to those who hold the position solely to pay living expenses so they can pursue, through low paying entry work, the job they really want (which may also be during the day).</p>
						<p><a href="#" class="button-secondary">Learn More</a></p>
						</p>
				</div>
				<div class="video-preview animated">
					<iframe width="680" height="383" src="http://www.youtube.com/embed/FG0fTKAqZ5g?feature=oembed" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</section>

		<section id="jobify_widget_slider-3" class="homepage-widget jobify_widget_slider">
			<div id="soliloquy-container-1778" class="soliloquy-container soliloquy-transition-fade soliloquy-fade  soliloquy-theme-classic" style="max-width:980px;max-height:555px;margin:0 auto 20px;">
				<ul id="soliloquy-1778" class="soliloquy-slider soliloquy-slides soliloquy-wrap soliloquy-clear">
					<li class="soliloquy-item soliloquy-item-1 soliloquy-image-slide" draggable="false" style="list-style:none">
						<div class="soliloquy-image-wrap"><a href="#"><img id="soliloquy-image-1795" class="soliloquy-image soliloquy-image-1" src="/main/wp-content/uploads/sites/16/2013/07/Jobify-App-Slide-Two.png" alt="Manage Your Job Postings" /></a></div>
						<div class="soliloquy-caption-wrap">
							<div class="soliloquy-caption">
								<div class="soliloquy-caption-inside">
									<h2 class="soliloquy-caption-title">Manage Your Job Postings</h2><p>A job is a regular activity performed in exchange for payment. A person usually begins a job by becoming an employee, volunteering, or starting a business. The duration of a job may range from an hour (in the case of odd jobs) to a lifetime (in the case of some judges). If a person is trained for a certain type of job, they may have a profession. The series of jobs a person holds in their life is their career.</p>
									<p><a href="http://themeforest.net/item/jobify-job-board-wordpress-theme/5247604?ref=Astoundify" class="button-secondary">Download Now</a></p>
								</div>
							</div>
						</div>
					</li>
					<li class="soliloquy-item soliloquy-item-2 soliloquy-image-slide" draggable="false" style="list-style:none">
					<div class="soliloquy-image-wrap">
						<a href="#"><img id="soliloquy-image-1779" class="soliloquy-image soliloquy-preload soliloquy-image-2" src="/main/wp-content/plugins/soliloquy/assets/css/images/holder.gif" data-soliloquy-src="http://demo.astoundify.com/jobify-darker/wp-content/uploads/sites/16/2013/07/Jobify-App-Slide-One.png" alt="Job Searching Just Got Easy" /></a>
					</div>
					<div class="soliloquy-caption-wrap">
						<div class="soliloquy-caption">
							<div class="soliloquy-caption-inside">
								<h2 class="soliloquy-caption-title">Job Searching Just Got Easy</h2>
								<p>The expression day job is often used for a job one works in to make ends meet while performing low-paying (or non-paying) work in their preferred vocation. Archetypical examples of this are the woman who works as a waitress (her day job) while she tries to become an actress, and the professional athlete who works as a laborer in the off season because he is currently only able to make the roster of a semi-professional team.</p>
								<p><a href="http://themeforest.net/item/jobify-job-board-wordpress-theme/5247604?ref=Astoundify" class="button-secondary">Download Now</a></p>
							</div>
						</div>
					</div>
					</li>
				</ul>
			</div>
			<noscript><style type="text/css">#soliloquy-container-1778{opacity:1}</style></noscript>
			<style>#jobify_widget_slider-3 { background-image: url(/main/wp-content/uploads/sites/16/2013/07/App-Slider-BG-Darker.jpg); background-size: cover; }</style>
		</section>


		<section id="jobify_widget_companies-4" class="homepage-widget jobify_widget_companies">
			<div class="container">
			<h3 class="homepage-widget-title">Companies We&#8217;ve Helped</h3>
			<p class="homepage-widget-description">Some of the companies we've helped recruit excellent applicants over the years.</p>
				<div class="company-slider-wrap">
					<div class="company-slider">	
						<div class="testimonials component effect-fade">
							<div class="testimonials-list">
								<div class="company-slider-item"><a href="http://themeforest.net/item/jobify-job-board-wordpress-theme/5247604?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/jobify-logo-big.svg" class="avatar wp-post-image" alt="jobify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/user/Astoundify/portfolio?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/astoundify-logo-big.svg" class="avatar wp-post-image" alt="astoundify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/item/fundify-the-wordpress-crowdfunding-theme/4257622?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/classify-logo-big.svg" class="avatar wp-post-image" alt="classify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/item/campaignify-crowdfunding-wordpress-theme/4725411?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/campaignify-logo-big.svg" class="avatar wp-post-image" alt="campaignify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/item/marketify-digital-marketplace-wordpress-theme/6570786?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/marketify-logo-big.svg" class="avatar wp-post-image" alt="marketify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/item/fundify-the-wordpress-crowdfunding-theme/4257622?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/fundify-logo-big.svg" class="avatar wp-post-image" alt="fundify-logo-big" /></a></div>
							</div><!--/.testimonials-list-->
							<div class="fix"></div>
						</div><!--/.testimonials-->
					</div>
				</div>
			</div>
		</section>

		<section id="jobify_widget_testimonials-2" class="homepage-widget jobify_widget_testimonials">
			<div class="container">
				<h3 class="homepage-widget-title">Testimonial</h3>
				<p class="homepage-widget-description">What other people thought about the service provided by Jobify</p>
				<div class="testimonial-slider-wrap animated">
					<div class="testimonial-slider">
						<div class="testimonials component effect-fade">
							<div class="testimonials-list">
								<blockquote id="quote-1712" class="individual-testimonial quote first"><p>Excellent service offering a personal touch, if I had an issue they were no longer than a phone call away and were always quick to respond.</p>
								<cite class="individual-testimonial-author"><img alt='' src='http://1.gravatar.com/avatar/56d26f0578dcec875d7a4b177c51d7f9?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' /> <cite class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Spencer Finnell</span></cite><!--/.author-->
								</cite></blockquote><blockquote id="quote-1713" class="individual-testimonial quote"><p>Jobify offer an amazing service and I couldn&#8217;t be happier! They are dedicated to helping recruiters find great candidates, wonderful service!</p>
								<cite class="individual-testimonial-author"><img alt='' src='http://1.gravatar.com/avatar/7f10262d7382d44fd5b9c2e18d8a7a41?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' /> <cite class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Adam Pickering</span></cite><!--/.author-->
								</cite></blockquote><blockquote id="quote-1714" class="individual-testimonial quote"><p>If I didn&#8217;t find Jobify I&#8217;m pretty sure i&#8217;d be no where, they helped me find a job in less than 2 days and the job is amazing,  amazing service!</p>
								<cite class="individual-testimonial-author"><img alt='' src='http://1.gravatar.com/avatar/7bfd46317c04e0f1798588b56658e16e?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' /> <cite class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Liam McKay</span></cite><!--/.author-->
								</cite></blockquote><blockquote id="quote-1715" class="individual-testimonial quote"><p>Wow just Wow! Jobify is an excellent service that offers personal one to one help finding a job and they know how to please, i&#8217;d use them again!</p>
								<cite class="individual-testimonial-author"><img alt='' src='http://1.gravatar.com/avatar/112d306fd6d7f05bb47e5c5019a70aa5?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' /> <cite class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Jason Schuller</span></cite><!--/.author-->
								</cite></blockquote><blockquote id="quote-1759" class="individual-testimonial quote"><p>Without Jobify i&#8217;d be homeless, they found me a job and got me sorted out quickly with everything! Can&#8217;t quite believe the service level that they offer!</p>
								<cite class="individual-testimonial-author"><img alt='' src='http://0.gravatar.com/avatar/02cdeec360274d7d9f1aa85761f95dc8?s=70&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' /> <cite class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Jake Caputo</span></cite><!--/.author-->
								</cite></blockquote><blockquote id="quote-1793" class="individual-testimonial quote last"><p>I&#8217;m incredibly pleased with Jobify&#8217;s service. They offer quality candidates &amp; super quick support, they have turned me into a big fan.</p>
								<cite class="individual-testimonial-author"><img alt='' src='http://0.gravatar.com/avatar/048c615183b42a20ec81b90af7ab221d?s=70&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' /> <cite class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Chris Christoff</span></cite><!--/.author-->
								</cite></blockquote>
							</div><!--/.testimonials-list-->
								<div class="fix"></div>
						</div><!--/.testimonials-->
					</div>
				</div>
			</div>

			<style>
			#jobify_widget_testimonials-2 { background-image: url(/main/wp-content/uploads/sites/16/2013/07/testimonals-bg-darker.jpg); }
			</style>
		</section>


		<section id="jobify_widget_callout-2" class="homepage-widget jobify_widget_callout">
			<div class="callout container">
				<div class="callout-description">
					<p>We are inviting Companies and Recruiters to participate in our exclusive launch. Post jobs for free! No credit cards required</p>
				</div>

				<div class="callout-action">
					<a href="post-a-job/index.html" class="button">POST A JOB NOW!</a>
				</div>
			</div>
		</section>

		</div><!-- #content -->
	</div><!-- #primary -->


		
				