// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-profile {

  background-color: $background-color;
  position: relative;

  .seeker-name {
    color: $title-color;
    position: absolute;
    top: 30%;
    left: 30%;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }

.job-title {
     position: absolute;
    top: 40%;
    left: 30%;
}
  img {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
