


<!--Content Wrapper-->
      <div class="content-wrapper main-content-toggle-left"> 
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">

      </nav>
            <!--Breadcrumb-->
      <div class="breadcrumb clearfix">
        <ul>
          <li><a href="/"><i class="fa fa-home"></i></a></li>
          <li><a href="/edge">Dashboard</a></li>
          <li class="active">Admin</li>
        </ul>
      </div>
      <!--/Breadcrumb--> 
    <div class="page-header">
      <h1>Administration <small>For Authorized Personnel only</h1>
    </div>


<div class="tabbable">
        <ul class="nav nav-tabs padding-16">
          <li class="active">
            <a data-toggle="tab" href="#createuser">
              <i class="green icon-edit bigger-125"></i>
              Create User
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#edituser">
              <i class="blue icon-key bigger-125"></i>
              Edit User
            </a>
          </li>
        </ul>
        <div class="tab-content">
        <div id="createuser" class="tab-pane in active">
          <h3 class="header smaller lighter blue">General</h3>
              <div  class=" row">

                <table id="newusertab" class="table table-bordered table-striped">
                  <tbody>
                  <tr>       
                  <td width="20%">Username</td> <!--TSCHEW-->
                  <td width="50%">
                  <a href="#" class="newuser" id="username" data-emptytext="Enter Username" data-type="text" id="skillcat" data-name="username"  data-original-title="Username"></a></td>
                  </tr>
                  <tr>       
                  <td width="20%">First name</td>
                  <td width="50%"><a href="#" class="newuser" id="firstname"  data-emptytext="Enter First Name" data-type="text" data-name="firstname" data-original-title="First Name"></a></td>
                  </tr>
                  <tr>       
                  <td width="20%">Last name</td>
                  <td width="50%"><a href="#" class="newuser" id="lastname" data-emptytext="Enter Last Name" data-type="text" data-name="lastname" data-original-title="Last Name"></a></td>
                  </tr>   
                  <tr>       
                  <td width="20%">Email</td>
                  <td width="50%"><a href="#" class="newuser" id="email" data-emptytext="Enter Email" data-type="text" data-name="email"  data-original-title="Email"></a></td>
                  </tr>   
                  <tr>       
                  <td width="20%">Role</td>
                  <td width="50%"><a href="#" class="newuser" id="email" data-emptytext="Select Role" data-type="select" data-name="role"  data-source="[{value: 1, text: 'Normal'}, {value: 2, text: 'Admin'}]" data-original-title="Role"></a></td>
                  </tr>  
                  <tr>       
                  <td width="20%">Password</td>
                  <td width="50%"><a href="#" class="newuser" id="password" data-emptytext="Enter Password" data-type="text" data-name="role" data-original-title="Password"></a></td>
                  </tr>                       
                  </tbody>
                </table>
            </div> <!-- <div id="user-profile-1" class="user-profile row"> -->
          <button id="saveuser-btn" class="btn btn-primary"><i class="icon-save bigger-140 icon-only">Save User and Add New</i></button>
          </div> <!-- <div id="edit-basic" class="tab-pane in active"> -->

          <div id="edituser" class="tab-pane">
              <div class="space-10"></div>
              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Edit User</label>
                  <p> <input type="text" id="form-field-1"  /> </p>
              </div> 
          </div> <!-- <div id="edit-password" class="tab-pane"> -->

     <!-- <div class="row"> -->
      
         
  </div> <!-- <div class="tab-content profile-edit-tab-content"> -->
</div> <!-- <div class="tabbable"> -->

        

<script>

  $(document).ready(function(){
      $('#firstname').editable({ 
        onblur: 'submit',
        showbuttons: false,
      )};

      $('#lastname').editable({
        onblur: 'submit',
        showbuttons: false,
        });

      $('#username').editable(
        {
        onblur: 'submit',
        showbuttons: false,
      });

      $('#email').editable(
        {
        onblur: 'submit',
        showbuttons: false,

      });

      $('#role').editable(
        {
        onblur: 'submit',
        showbuttons: false,
      });


      $('#password').editable(
        {
        onblur: 'submit',
        showbuttons: false,

      });

           //init editables
      $('#username').editable('option', 'validate', function(v) {
          if(!v) return 'This is a required field!';
      });

      $('#password').editable('option', 'validate', function(v) {
          if(!v) return 'This is a required field!';
      });

});

$('#saveuser-btn').click(function() {
         $('.newuser').editable('submit', {
             url: '/newuser',
             ajaxOptions: {
                 dataType: 'json' //assuming json response
             },         
             success: function(data, config) {
               
                  if(data && data.errors){
                       //server-side validation error, response like {"errors": {"username": "username already exist"} }
                       config.error.call(this, data.errors);

                 }   else{

                      $('.newuser').editable('setValue', null);  //clear values
                      // $('#skillname').editable('option', 'disabled', true);
                      // $('#skillrank').editable('option', 'disabled', true);
                 }     
             },
             error: function(errors) {
                 var msg = '';
                 if(errors && errors.responseText) { //ajax error, errors = xhr object
                     msg = errors.responseText;
                     //We do not have any response text from backend at the moment
                 } else { //validation error (client-side or server-side)
                     $.each(errors, function(k, v) {
                      if (k=="username") {k = "UserName"};    
                      if (k=="password") {k = "Password"};   
                      msg += k+": "+v+"<br>";
                    });
                    
                 }
                
             }
         });
      });
</script>

