<!DOCTYPE html>



<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="keywords" content="admin template, admin dashboard, inbox templte, calendar template, form validation">
<meta name="author" content="DazeinCreative">
<meta name="description" content="JORB - Your Job Hunting Orb">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>COTA</title>

<link href="/dash/css/styles.css" rel="stylesheet" type="text/css">
<style type="text/css">
@import url("/dash/css/vendors/x-editable/address.css");
@import url("/dash/css/vendors/x-editable/select2.css");
@import url("/dash/css/vendors/x-editable/typeahead.js-bootstrap.css");
@import url("/dash/css/vendors/x-editable/demo-bs3.css");
@import url("/dash/css/vendors/x-editable/select2-bootstrap.css");
@import url("/dash/css/vendors/x-editable/bootstrap-editable.css");
</style>
<link rel="stylesheet" href="/vendor/jqueryfileupload/css/jquery.fileupload.css" />
<!--Demo Colors Override-->
<!-- <link id="demo-styles" href='/dash/css/styles-defaults.html' rel="stylesheet" type="text/css"> -->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<script type="text/javascript" src='/dash/js/vendors/modernizr/modernizr.custom.js'></script>

<!--JQuery--> 
<script type="text/javascript" src="/dash/js/vendors/jquery/jquery.min.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/jquery/jquery-ui.min.js"></script> 

</head>

<body>

<!--Smooth Scroll-->
<div class="smooth-overflow"> 
  <!--Navigation-->
  <nav class="main-header clearfix" role="navigation"> <a class="navbar-brand" href="index-2.html"><span class="text-blue">COTA</span></a> 
    
    <!--Search-->
    <!-- <div class="site-search">
      <form action="#" id="inline-search">
        <i class="fa fa-search"></i>
        <input type="search" placeholder="Search">
      </form>
    </div> -->
    
    <!--Navigation Itself-->
    
    <div class="navbar-content"> 
      
      <!--Sidebar Toggler REMOVED--> 
      
      <!--Right Userbar Toggler--> 
      <a href="#" class="btn btn-user right-toggler pull-right"><i class="entypo-vcard"></i> <span class="logged-as hidden-xs">Logged as</span><span class="logged-as-name hidden-xs"><%= @userme %></span></a> 
      <!--Fullscreen Trigger-->
      <button type="button" class="btn btn-default hidden-xs pull-right" id="toggle-fullscreen"> <i class=" entypo-popup"></i> </button>
      
      <!--Settings Dropdown-->
<!--       <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="entypo-cog"></i></button>
        <div id="settings-dropdown" class="dropdown-menu keep_open orb-form">
          <div class="dropdown-header">Settings <span class="badge pull-right">6</span></div>
          <div class="dropdown-container">
            <div class="nano">
              <div class="nano-content">
                <ul class="settings-dropdown">
                  <li>
                    <label class="toggle">
                      <input type="checkbox" name="checkbox-toggle" checked>
                      <i></i>Prevent Midnblow</label>
                  </li>
                  <li>
                    <label class="toggle">
                      <input type="checkbox" name="checkbox-toggle" checked>
                      <i></i>Sleep All nights</label>
                  </li>
                  <li>
                    <label class="toggle">
                      <input type="checkbox" name="checkbox-toggle" checked>
                      <i></i>Drink more Coffee</label>
                  </li>
                  <li>
                    <label class="toggle">
                      <input type="checkbox" name="checkbox-toggle" checked>
                      <i></i>Auto feed cat</label>
                  </li>
                  <li>
                    <label class="toggle">
                      <input type="checkbox" name="checkbox-toggle" checked>
                      <i></i>Dummy Checkbox</label>
                  </li>
                  <li>
                    <label class="toggle">
                      <input type="checkbox" name="checkbox-toggle" checked>
                      <i></i>Read More Books</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="dropdown-footer"> <a class="btn btn-dark" href="#">Save</a> </div>
        </div>
      </div>
       -->
      <!--Lock Screen--> 
      <!-- <a href="#" data-toggle="modal" class="btn btn-default hidden-xs pull-right lockme"> <i class="entypo-lock"></i> </a>  -->
      
      <!--Notifications Dropdown-->
      
<!--       <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="entypo-megaphone"></i><span class="new"></span></button>
        <div id="notification-dropdown" class="dropdown-menu">
          <div class="dropdown-header">Notifications <span class="badge pull-right">8</span></div>
          <div class="dropdown-container">
            <div class="nano">
              <div class="nano-content">
                <ul class="notification-dropdown">
                  <li class="bg-warning"><a href="#"> <span class="notification-icon"><i class="fa fa-bolt"></i></span>
                    <h4>Server Down</h4>
                    <p>Server #435 was shut down (Power loss)</p>
                    <span class="label label-default"><i class="entypo-clock"></i> 59 mins ago</span> </a> </li>
                  <li class="bg-info"><a href="#"> <span class="notification-icon"><i class="fa fa-bolt"></i></span>
                    <h4>Too Many Connections</h4>
                    <p>Too many connections to Database Server</p>
                    <span class="label label-default"><i class="entypo-clock"></i> 2 hours ago</span> </a> </li>
                  <li class="bg-danger"><a href="#"> <span class="notification-icon"><i class="fa fa-android"></i></span>
                    <h4>Sausage Stolen</h4>
                    <p>Someone stole your hot sausage</p>
                    <span class="label label-default"><i class="entypo-clock"></i> 3 hours ago</span> </a> </li>
                  <li class="bg-success"><a href="#"> <span class="notification-icon"><i class="fa fa-bolt"></i></span>
                    <h4>Defragmentation Completed</h4>
                    <p>Disc Defragmentation Completed on Server</p>
                    <span class="label label-default"><i class="entypo-clock"></i> 3 hours ago</span> </a> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="dropdown-footer"><a class="btn btn-dark" href="#">See All</a></div>
        </div>
      </div> -->
      
      <!--Inbox Dropdown-->
<!--       <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="entypo-mail"></i><span class="new"></span></button>
        <div id="inbox-dropdown" class="dropdown-menu inbox">
          <div class="dropdown-header">Inbox <span class="badge pull-right">32</span></div>
          <div class="dropdown-container">
            <div class="nano">
              <div class="nano-content">
                <ul class="inbox-dropdown">
                  <li><a href="#"> <span class="user-image"><img src="http://placehold.it/150x150" alt="Gluck Dorris" /></span>
                    <h4>Why don't u answer calls?</h4>
                    <p>Listen, dude, time is off. I'll find you soon! Sounds good?...</p>
                    <span class="label label-default"><i class="entypo-clock"></i> 59 mins ago</span> <span class="delete"><i class="entypo-back"></i></span> </a> </li>
                  <li><a href="#"> <span class="user-image"><img src="http://placehold.it/150x150" alt="Gluck Dorris" /></span>
                    <h4>Rawrr, rawrrr...</h4>
                    <p>Listen, dude, time is off. I'll find you soon! Sounds good?...</p>
                    <span class="label label-default"><i class="entypo-clock"></i> 2 hours ago</span> <span class="delete"><i class="entypo-back"></i></span> </a> </li>
                  <li><a href="#"> <span class="user-image"><img src="http://placehold.it/150x150" alt="Gluck Dorris" /></span>
                    <h4>Why so serious?</h4>
                    <p>Listen, dude, time is off. I'll find you soon! Sounds good?...</p>
                    <span class="label label-default"><i class="entypo-clock"></i> 3 hours ago</span> <span class="delete"><i class="entypo-back"></i></span> </a> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="dropdown-footer"><a class="btn btn-dark" href="admin-inbox.html">Save All</a></div>
        </div>
      </div> -->
    </div>
  </nav>
  
  <!--/Navigation--> 
  
  <!--MainWrapper-->
  <div class="main-wrap"> 
    
    <!--OffCanvas Menu -->
    <aside class="user-menu"> 
      
      <!-- Tabs -->
      <div class="tabs-offcanvas">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#userbar-one" data-toggle="tab">Main</a></li>
<!--           <li><a href="#userbar-two" data-toggle="tab">Users</a></li>
          <li><a href="#userbar-three" data-toggle="tab">ToDo</a></li> -->
        </ul>
        <div class="tab-content"> 
          
          <!--User Primary Panel-->
          <div class="tab-pane active" id="userbar-one">
            <div class="main-info">
              <div class="user-img"><img src="/dash/images/users/2-big.jpg" alt="User Picture" /></div>
              <h1><%= @userme %> <small>Administrator</small></h1>
            </div>
            <div class="list-group"> 
              <a href="#" class="list-group-item"><i class="fa fa-user"></i>Profile</a> 
              <a href="/settings" class="list-group-item"><i class="fa fa-cog"></i>Settings</a> 
              <div class="empthy"></div>
              <a data-toggle="modal" href="#" class="list-group-item goaway"><i class="fa fa-power-off"></i> Sign Out</a> </div>
          </div>
          
          <!--User Chat Panel-->
<!--           <div class="tab-pane" id="userbar-two">
            <div class="chat-users-menu">  -->
              <!--Adding Some Scroll-->
<!--               <div class="nano">
                <div class="nano-content">
                  <div class="buttons">
                    <div class="btn-group btn-group-xs">
                      <button type="button" class="btn btn-default">Friends</button>
                      <button type="button" class="btn btn-default">Work</button>
                      <button type="button" class="btn btn-default">Girls</button>
                    </div>
                  </div>
                  <ul>
                              <li><a href="#"><span class="chat-name">Gluck Morris</span><span class="user-img"><img src="/dash/images/users/1.jpg" alt="User"/></span><span class="label label-success">Online</span><span class="badge">5</span></a></li>
                              <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="/dash/images/users/2.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="/dash/images/users/3.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Muchacho</span><span class="user-img"><img src="/dash/images/users/4.jpg" alt="User"/></span><span class="label label-default">Offline</span></a></li>
                              <li><a href="#"><span class="chat-name">Mr. Joker</span><span class="user-img"><img src="/dash/images/users/5.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Chewbacca</span><span class="user-img"><img src="/dash/images/users/6.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">The Piggy</span><span class="user-img"><img src="/dash/images/users/7.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="/dash/images/users/2.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="/dash/images/users/3.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Muchacho</span><span class="user-img"><img src="/dash/images/users/4.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="/dash/images/users/2.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="/dash/images/users/3.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Muchacho</span><span class="user-img"><img src="/dash/images/users/4.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="/dash/images/users/2.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="/dash/images/users/3.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Muchacho</span><span class="user-img"><img src="/dash/images/users/4.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Anton Durant</span><span class="user-img"><img src="/dash/images/users/2.jpg" alt="User"/></span><span class="label label-default">Offline</span></a></li>
                              <li><a href="#"><span class="chat-name">Spiderman</span><span class="user-img"><img src="/dash/images/users/3.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                              <li><a href="#"><span class="chat-name">Muchacho</span><span class="user-img"><img src="/dash/images/users/4.jpg" alt="User"/></span><span class="label label-success">Online</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
           -->
          <!--User Tasks Panel-->
<!--           <div class="tab-pane" id="userbar-three">
            <div class="nano">  -->
              <!--Adding Some Scroll-->
<!--               <div class="nano-content">
                <div class="small-todos">
                  <div class="input-group input-group-sm">
                    <input id="new-todo" placeholder="Add ToDo" type="text" class="form-control">
                    <span class="input-group-btn">
                    <button id="add-todo" class="btn btn-default" type="button"><i class="fa fa-plus-circle"></i></button>
                    </span> </div>
                  <section id="task-list">
                    <ul id="todo-list">
                    </ul>
                  </section>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      
      <!-- /tabs --> 
      
    </aside>
    <!-- /Offcanvas user menu--> 
    
    <!--Main Menu-->

    <!--/MainMenu  TSCHEW-->
          <%= yield %> 

      </div>
  <!--/MainWrapper--> 
</div>
<!--/Smooth Scroll--> 

<!-- scroll top -->
<div class="scroll-top-wrapper hidden-xs"> <i class="fa fa-angle-up"></i> </div>
<!-- /scroll top --> 

<!--Modals--> 

<!--Power Widgets Modal-->
<div class="modal" id="delete-widget">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <i class="fa fa-lock"></i> </div>
      <div class="modal-body text-center">
        <p>Are you sure to delete this widget?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="trigger-deletewidget-reset">Cancel</button>
        <button type="button" class="btn btn-primary" id="trigger-deletewidget">Delete</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<!-- /.modal --> 

<!--Sign Out Dialog Modal-->
<div class="modal" id="signout">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <i class="fa fa-lock"></i> </div>
      <div class="modal-body text-center">Are You Sure Want To Sign Out?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="yesigo">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<!-- /.modal --> 

<!--Lock Screen Dialog Modal-->
<div class="modal" id="lockscreen">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <i class="fa fa-lock"></i> </div>
      <div class="modal-body text-center">Are You Sure Want To Lock Screen?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="yesilock">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<!-- /.modal --> 

<!--Scripts--> 
<!--GMaps--> 



<!--GMap--> 


<!--EasyPieChart--> 
<script type="text/javascript" src="/dash/js/vendors/easing/jquery.easing.1.3.min.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/easypie/jquery.easypiechart.min.js"></script> 

<!--Fullscreen--> 
<script type="text/javascript" src="/dash/js/vendors/fullscreen/screenfull.min.js"></script> 

<!--NanoScroller--> 
<script type="text/javascript" src="/dash/js/vendors/nanoscroller/jquery.nanoscroller.min.js"></script> 

<!--Sparkline--> 
<script type="text/javascript" src="/dash/js/vendors/sparkline/jquery.sparkline.min.js"></script> 

<!--Horizontal Dropdown--> 
<script type="text/javascript" src="/dash/js/vendors/horisontal/cbpHorizontalSlideOutMenu.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/classie/classie.js"></script> 

<!--PowerWidgets--> 
<script type="text/javascript" src="/dash/js/vendors/powerwidgets/powerwidgets.min.js"></script> 

<!--Morris Chart--> 
<script type="text/javascript" src="/dash/js/vendors/raphael/raphael-min.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/morris/morris.min.js"></script> 

<!--FlotChart--> 
<script type="text/javascript" src="/dash/js/vendors/flotchart/jquery.flot.min.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/flotchart/jquery.flot.resize.min.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/flotchart/jquery.flot.axislabels.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/flotchart/jquery.flot-tooltip.js"></script> 

<!--Chart.js--> 
<script type="text/javascript" src="/dash/js/vendors/chartjs/chart.min.js"></script> 

<!--Calendar--> 
<script type="text/javascript" src="/dash/js/vendors/fullcalendar/fullcalendar.min.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/fullcalendar/gcal.js"></script> 

<!--Bootstrap--> 
<script type="text/javascript" src="/dash/js/vendors/bootstrap/bootstrap.min.js"></script> 

<!--Vector Map--> 

<!--X-Editable--> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/bootstrap-editable.min.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/demo.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/demo-mock.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/select2.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/address.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/jquery.mockjax.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/moment.min.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/select2-bootstrap.html"></script> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/typeahead.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/x-editable/typeaheadjs.js"></script> 

<!--ToDo--> 

<!--Datatables--> 
<script type="text/javascript" src="/dash/js/vendors/datatables/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/datatables/jquery.dataTables-bootstrap.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/datatables/dataTables.colVis.js"></script> 
<script type="text/javascript" src="/dash/js/vendors/datatables/colvis.extras.js"></script> 

<!--SkyCons--> 
<script type="text/javascript" src="/dash/js/vendors/skycons/skycons.js"></script> 
<script>
      var icons = new Skycons({"color": "#fff"}),
          list  = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;

      for(i = list.length; i--; )
        icons.set(list[i], list[i]);

      icons.play();
    </script> 

<!--Main App--> 
<script type="text/javascript" src="/dash/js/scripts.js"></script>

<!--Switcher-->
<!-- <script type="text/javascript" src="/dash/js/vendors/demo-switcher/switcher.core.min.js"></script>
<script type="text/javascript" src="/dash/js/vendors/demo-switcher/switcher.load.js"></script>  
  -->

<!--/Scripts-->

</body>


</html>     