This is where you manage your Account.

Change password, linkin to your social network account and activating premium service

              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Change password </label>
                  <p> <input type="text" id="form-field-1"  /> </p>
              </div> 