


This is where you manage your Account.

Change password, linkin to your social network account and activating premium service

              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Change password </label>
                  <p> <input type="text" id="form-field-1"  /> </p>
              </div> 

Social Media
              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> LinkedIn </label>
                  <p> <input type="text" id="form-field-1"  /> </p>
              </div>    

              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Facebook</label>
                  <p> <input type="text" id="form-field-1"  /> </p>
              </div>                  

              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Twitter</label>
                  <p> <input type="text" id="form-field-1"  /> </p>
              </div>            

              <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Github</label>
                  <p> <input type="text" id="form-field-1"  /> </p>
              </div>            


              <p id="testing"> Generate CV in PDF format </p>





												<div class="checkbox">
													<label>
														<input name="form-field-checkbox" value="on" type="checkbox" class="ace" checked/>
														<span class="lbl"> choice 1</span>
													</label>
												</div>




<p>This example uses the HTML DOM to assign an "onclick" event to a p element.</p>

<p id="demo">Click me.</p>
<p > asdasd </p>

<div class="checkbox" id="abc" style="visibility: hidden">
<label>
<input name="form-field-checkbox" value="1" type="checkbox" class="ace" />
<span class="lbl"> choice aa</span>
</label>
</div>


<script>
document.getElementById("testing").onclick = function() {myFunction1()};

function myFunction1() {
document.getElementById("testing").innerHTML = "YOU CLICKED ME!";
document.getElementById( 'abc' ).style.visibility = 'visible'; 
}

function spr_on()
{
document.getElementById( 'spr_block' ).style.visibility = 'visible'; 
}



document.getElementById("demo").onclick = function() {myFunction()};

function myFunction() {
    document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
}
</script>


<script>
