
<% content_for(:title) { "Dashing w/ Highcharts!" } %>

<script type='text/javascript'>
  // $(function() {
  //   Dashing.widget_base_dimensions = [310, 320]
  //   Dashing.numColumns = 4
  //  });    
</script>



<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="seeker_profile" data-view="Profile" data-image="/logo.png" data-seekername="<%= name %>" ></div>
    </li>    
<!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="career_score" data-view="Number" data-title="Career Score" style="background-color:steelblue;"></div>
    </li> -->

<!--     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="recent_top_matches" data-title="Recent Top Matches" data-view="Fadelist" data-unordered="false" data-moreinfo="" style="background-color:#3498db;"></div>
    </li>
 -->

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="new_top_matches" data-title="Recent Top Matches" data-view="Topmatchlist" data-unordered="false" data-moreinfo="" style="background-color:#3498db;"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="top_job_titles" data-view="Stacker" data-title="Top 5 IT Job Titles" style="background-color:#d35400;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="seekers_nationality" data-view="Highbar" data-title="Job seekers by Nationality" style="background-color:#efad1b;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="top_industries" data-view="Pie" data-title="Top 5 hiring Industries" style="background-color:#f39c12;"></div>
    </li>

<!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="no_of_it_jobs" data-view="Number" data-title="# of IT Jobs" style="background-color:#96bf48;"></div>
    </li> -->

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="top_it_jobs" data-view="Horizonbarstack" data-title="Top 10 IT Skills in demand" style="background-color:#2c3e50;"></div>
    </li>


    
    <!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li> -->

<!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="Closing In:" data-end='<%= Time.now.strftime("%B %d, %Y 15:00:00") %>'></div>
    </li> -->

<!--     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="klimato" data-view="Klimato"></div>
    </li> -->

</div>
<br/><br/><br/><br/><br/><br/>
This is outside the grid 

   

