
<% content_for(:title) { "Career Dashboard" } %>

<script type='text/javascript'>
  // $(function() {
  //   Dashing.widget_base_dimensions = [310, 320]
  //   Dashing.numColumns = 4
  //  });    
</script>



<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id=<%= @emailme  + "-seeker_profile" %> data-view="Profile" data-image="/logo.png" data-seekername="<%= @userme %>" ></div>

    </li>    

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="new_top_matches" data-view="Topmatchlist"  style="background-color:#FFFFFF;"></div>
    </li>


</ul>
    

</div>
