
<% content_for(:title) { "Dashing w/ Highcharts!" } %>

<script type='text/javascript'>
  // $(function() {
  //   Dashing.widget_base_dimensions = [310, 320]
  //   Dashing.numColumns = 4
  //  });    
</script>



<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tschew@gmail.com-seeker_profile" data-view="Profile" data-image="/logo.png" data-seekername="<%= @userme %>" ></div>

    </li>    

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="new_top_matches" data-title="Recent Top Matches" data-view="Topmatchlist" data-unordered="false" data-moreinfo="" style="background-color:#3498db;"></div>
    </li>


</ul>
    

</div>
<br/><br/><br/><br/><br/><br/>
<%= @emailme  + "-seeker_profile" %> 

