<!DOCTYPE html>
<html>
  <head>
      <title><%= yield_content(:title) %></title>
 
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.ico">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-static-top">
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Career Dashboard</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
    </header>
      <div class="row">
  <div class="col-sm-3">
      <!-- left -->
      <h3><i class="glyphicon glyphicon-briefcase"></i> Toolbox</h3>
      <hr>
      
      <ul class="nav nav-stacked">
        <li><a href="javascript:;"><i class="glyphicon glyphicon-flash"></i> Summary</a></li>
        <li><a href="javascript:;"><i class="glyphicon glyphicon-link"></i> Jobseeker</a></li>
        <li><a href="javascript:;"><i class="glyphicon glyphicon-list-alt"></i> Job</a></li>
        <li><a href="javascript:;"><i class="glyphicon glyphicon-book"></i> ITJob Street</a></li>
        <li><a href="javascript:;"><i class="glyphicon glyphicon-briefcase"></i> Industry</a></li>
        <li><a href="javascript:;"><i class="glyphicon glyphicon-time"></i> Real-time</a></li>
        <li><a href="javascript:;"><i class="glyphicon glyphicon-plus"></i> Advanced..</a></li>
      </ul>
  </div>
      <hr>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>