


<script type='text/javascript'>
  // $(function() {
  //   Dashing.widget_base_dimensions = [310, 320]
  //   Dashing.numColumns = 4
  //  });    
$(document).ready(function() {
    $('#example').dataTable( {
        "bsort": false,
        "scrollCollapse": true,
        "jQueryUI": true,
    } );
} );
</script>

  <div class="container">
  
	  <div class="row">
	    <div class="col-md-4 column">
	          <img src="http://lorempixel.com/250/250/" />
	    </div>
	    <div class="col-md-6 column">
	   		  <table id="example" class="display" cellspacing="0" width="100%">
                    <tbody >
                        <tr>
                           <td>First Name: </td>
                           <td><%= @userme %> </td>
                        </tr>
                        <tr>
                           <td>Age</td>
                           <td>40 </td>
                        </tr>
                        <tr>
                           <td>Gender:</td>
                           <td>Male </td>
                        </tr>      
                        <tr>
                           <td>Nationality:</td>
                           <td>Singaporean </td>
                        </tr>       
                        <tr>
                           <td>Contact #:</td>
                           <td>947476444 </td>
                        </tr>  
                        <tr>
                           <td>Address:</td>
                           <td>13 George Street Singapore 123122 </td>
                        </tr>                       
                        <tr>
                           <td>Email:</td>
                           <td><%= @emailme %> </td>
                        </tr>
                   </tbody>
              </table>
              <div class="row">
                        <br><br><br><br>
              			<div class="btn-group btn-group-justified">

		                        <a href="#" class="btn btn-info col-sm-3">
		                        <i class="glyphicon glyphicon-plus"></i><br>Skill</a> 
		                        <a href="#" class="btn btn-info col-sm-3">
		                        <i class="glyphicon glyphicon-cloud"></i><br>Experience</a>
		                        <a href="#" class="btn btn-info col-sm-3">
		                        <i class="glyphicon glyphicon-cog"></i><br>Education</a>
		                 	    <a href="#" class="btn btn-info col-sm-3">
		                   		<i class="glyphicon glyphicon-question-sign"></i><br>Other functions</a>
		                </div>
       		  </div> <!-- Row -->           	   
                         <p> Modal box pops up allowing user to Add/Delete/Edit Skills, Experience, Educations</p>
	    </div> <!-- Column -->
	</div> <!-- Row -->
  
	  <div class="row">
	    <div class="col-md-6 column">
	          <p>--------------------------------------Career Timeline------------------------------------</p>
	    </div>
	    <div class="col-md-6 column">
	          <div class="container">
					<div class="row">
						<div class="col-md-4">
			                  <h3>My  <span class="semi-bold">Skills</span></h3>

                  	<div class="col-md-11 skillspanel" >
                    	<% @userskills.each do |i| %>
                    	<div class="progress">
                     		 <div data-percentage="0%" style="width: <%= @userskills.get(i).skillscore * 20 %>%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"><%= @skillname.get(@userskills.get(i).skill_id).skill %></div>
                    	</div>
                    	<% end %> 
                    </div> <!-- Col Skillpanel-->
                    </div> <!-- Row -->
         	  </div> <!-- Container -->
	    </div> <!-- Column MD-6 -->
     </div> <!-- row -->

	  
	  <div class="row">
	    <div class="col-md-6 column">
	          <p>--------------------------------------Certification List------------------------------------</p>
	    </div>
	    <div class="col-md-6 column">
	          <p>          ------------------------Education Timeline--------------------------------</p>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-md-6 column">
	          <p>--------------------------------------Activities------------------------------------</p>
	          <p>To show all the latest activties carried out by the users on our site. For example, add new skills </p>
	    </div>
	    <div class="col-md-6 column">
	          <p>          ------------------------Something else--------------------------------</p>
	    </div>
	  </div>

</div> <!-- Container -->
